.profile__name {
  padding-right: 18px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 510px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .profile__name {
    max-width: calc(100vw - 425px);
  }
}

@media (max-width: 767px) {
  .profile__name {
    max-width: 246px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
