.header__auth {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .header__auth {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }
}
