.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
