.profile {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }
}
