.gallery {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
}
@media (max-width: 767px) {
  .gallery {
    padding-top: 36px;
  }
}
