.popup__input-text {
  padding-bottom: 13px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  height: 14px;
  width: calc(100% - 4px);
}



@media (max-width: 767px) {
  .popup__input-text {
    padding-bottom: 11px;
  }
}
